<form [formGroup]="form" >
  <h1>Add product</h1>
  <div><mat-form-field appearance="fill"><mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Title" formControlName="title" required>
    <mat-error *ngIf="form.get('title')!.invalid">title is invalid</mat-error></mat-form-field></div>
  <div><mat-form-field appearance="fill"><mat-label>Price</mat-label>
    <input matInput type="text" placeholder="Price" formControlName="price" required>
    <mat-error *ngIf="form.get('price')!.invalid">price is invalid</mat-error></mat-form-field></div>
  <div><button type="submit" mat-raised-button color="primary" routerLink="/categories">Add product</button></div></form>
